<div class="p-4 bg-[#EEEEEE] h-auto sm:ml-64">

     <!-- Breadcrump -->

  <nav class="flex items-center">
    <ol class="inline-flex items-center space-x-1 ">
      <li class="inline-flex items-center">
        <a href="#" class="inline-flex items-center  font-bold text-black hover:underline">
          Reservations
        </a>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="w-3 h-3 text-gray-400 mx-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 9 4-4-4-4" />
          </svg>
          <span class="ml-1  font-bold text-[#FF7900] ">Reservation details</span>
        </div>
      </li>
    </ol>
  </nav>

</div>