<section id="content">

 <!-- main.component.html -->
 <main>

  <div class="flex items-center justify-between p-6">
   <div class="text-black">
     <h1 class="text-3xl font-semibold mb-3">Dashboard</h1>
     <ul class="flex items-center gap-3 text-black">
       <li><a href="#" class="text-black font-semibold">Projects</a></li>
       <li><svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 19L15 14L17 12L15 10L10 5L8 7L13 12L8 17L10 19Z" fill="black"/>
        </svg></li>
       <li><a href="#" class="active text-orange-500 font-semibold">Home</a></li>
     </ul>
   </div>

<!-- <a href="#" class="btn-download">
  <i class='bx bxs-cloud-download' ></i>
  <span class="text">Download PDF</span>
</a> -->
<div class="flex  justify-end px-2 -mb-3 w-44  ">
 <button class="inline-flex px-5 py-1 text-black bg-white focus:bg-orange-500 border border-black mb-3">
   
   Request
 </button>
 <button class="inline-flex px-5 py-1 text-black bg-white focus:bg-orange-500 border border-black ml-6 mb-3">
   
   Valided
 </button>
</div>
</div>

<body>

 <div class="w-full p-6 mx-auto">
  <div class="flex flex-wrap ">
   
   <div class=" bg-cover bg-center bg-no-repeat bg-lightgray-50">
    <div class="w-386 h-516 flex-shrink-0 border border-black mb-4">
     <!-- Moitié supérieure de la première carte (photo) -->
     <div class="h-1/2 bg-cover bg-center bg-no-repeat">
       <img src="assets/images/project.png" class="h-full w-full" alt="...">
     </div>
     <!-- Moitié inférieure de la première carte (informations personnelles) -->
     <div class="h-1/2 p-2 dark:bg-white flex flex-col justify-between">
       <!-- Informations personnelles -->
       <h5 class="text-xl text-black mb-2">Prénom Nom</h5>
       <p class="text-gray-600 mb-2">Autres informations</p>
       <!-- Icônes à droite des informations -->
       
     </div>
   </div>
   
   <div class="w-386 h-516 flex-shrink-0 border border-black mb-4">
     <!-- Moitié supérieure de la première carte (photo) -->
     <div class="h-1/2 bg-cover bg-center bg-no-repeat">
       <img src="assets/images/project.png" class="h-full w-full" alt="...">
     </div>
     <!-- Moitié inférieure de la première carte (informations personnelles) -->
     <div class="h-1/2 p-2 dark:bg-white flex flex-col justify-between">
       <!-- Informations personnelles -->
       <h5 class="text-xl text-black mb-2">Prénom Nom</h5>
       <p class="text-gray-600 mb-2">Autres informations</p>
       <!-- Icônes à droite des informations -->
       
     </div>
   </div>
    </div>
  
    
    <div class="w-full max-w-full px-3 ml-4 shrink-0 md:w-8/12 md:flex-0 bg-white border border-black ">
      <div class="relative flex flex-row min-w-0 break-words bg-white ">
        <!-- Image en haut -->
        <div class="flex-none w-auto max-w-full px-2 p-2">
          <div class="relative inline-flex flex-col justify-center text-white transition-all duration-200 ease-in-out text-base h-19 w-19">
            <!-- Image -->
            <img src="assets/images/project.png" alt="profile_image" class="w-full" />
          </div>
        </div>
        <!-- Titre, nom, icône à droite de l'image -->
        <div class="flex-none w-auto max-w-full px-2 my-auto">
          <div class="flex-none w-auto max-w-full px-20 my-auto">
            <div class="p-2 dark:bg-white flex flex-col justify-between">
              <!-- Titre -->
              <h5 class="text-xl text-black">FabLab</h5>
              <!-- Nom de l'équipe -->
              <div class="flex justify-between items-center">
                <p class="leading-normal font-bold dark:text-black text-sm">Réalisé par :</p>
                <p class="leading-normal dark:text-black text-sm p-6">Taha Boukaa</p>
              </div>
              <!-- Icône PDF -->
              <a href="#">
                <div class="flex justify-end items-center mr-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="41" viewBox="0 0 40 41" fill="none">
                    <path d="M21.9526 5.125H15C11.8573 5.125 10.286 5.125 9.30965 6.12572C8.33334 7.12644 8.33334 8.73707 8.33334 11.9583V29.0417C8.33334 32.2629 8.33334 33.8736 9.30965 34.8743C10.286 35.875 11.8573 35.875 15 35.875H25C28.1427 35.875 29.714 35.875 30.6904 34.8743C31.6667 33.8736 31.6667 32.2629 31.6667 29.0417V15.0819C31.6667 14.3836 31.6667 14.0345 31.5398 13.7205C31.4129 13.4066 31.1721 13.1597 30.6904 12.6659L24.3096 6.12572C23.8279 5.63196 23.5871 5.38508 23.2808 5.25504C22.9745 5.125 22.6339 5.125 21.9526 5.125Z" stroke="#33363F" stroke-width="2"/>
                    <path d="M15 22.2083L25 22.2083" stroke="#33363F" stroke-width="2" stroke-linecap="round"/>
                    <path d="M15 29.0417L21.6667 29.0417" stroke="#33363F" stroke-width="2" stroke-linecap="round"/>
                    <path d="M21.6667 5.125V11.9583C21.6667 13.569 21.6667 14.3743 22.1548 14.8746C22.643 15.375 23.4287 15.375 25 15.375H31.6667" stroke="#33363F" stroke-width="2"/>
                  </svg>
                  <p class="leading-normal dark:text-black text-sm pr-2">PDF</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Description en bas -->
      <div class="p-2 dark:bg-white">
        <h5 class="text-xl text-black font-bold mb-2">Descriptioin</h5>
        <p class="dark:text-black">The global population is exponentially growing. Considering the fineness of agricultural lands, finding alternative sustainable ways to produce food is imperative.</p>
      </div>
      <div class="p-2 dark:bg-white">
        <h5 class="text-xl text-black font-bold mb-2">Outils</h5>
        <div class="flex justify-between items-center -mt-4">
          <p class="leading-normal dark:text-black text-sm">raspberry pi 4</p>
          <p class="leading-normal dark:text-black text-sm p-6">MICROSD CARD ADAPTER</p>
          <p class="leading-normal dark:text-black text-sm p-6"> MPU-9250</p>
        </div>
        <div class="flex justify-between items-center -mt-9">
          <p class="leading-normal dark:text-black text-sm">raspberry pi 4</p>
          <p class="leading-normal dark:text-black text-sm p-6">MICROSD CARD ADAPTER</p>
          <p class="leading-normal dark:text-black text-sm p-6"> MPU-9250</p>
        </div>
      </div>
      <div class="flex justify-end space-x-2 mt-10 mr-5">
        <a href="#" class="no-underline">
          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="46" viewBox="0 0 44 46" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 40.25C31.1127 40.25 38.5 32.5269 38.5 23C38.5 13.4731 31.1127 5.75 22 5.75C12.8873 5.75 5.5 13.4731 5.5 23C5.5 32.5269 12.8873 40.25 22 40.25ZM20.9486 29.3733L30.1153 17.8733L28.5514 16.6267L20.0981 27.2316L15.3893 22.3088L13.944 23.6912L19.444 29.4412L20.2352 30.2684L20.9486 29.3733Z" fill="#0A6E31"/>
            </svg>
        </a>
        <a href="#" class="no-underline">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="46" viewBox="0 0 48 46" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M41.1648 23C41.1648 32.5269 33.2662 40.25 23.5227 40.25C13.7793 40.25 5.88068 32.5269 5.88068 23C5.88068 13.4731 13.7793 5.75 23.5227 5.75C33.2662 5.75 41.1648 13.4731 41.1648 23ZM23.5227 24.3982L16.3968 31.3658L14.9668 29.9675L22.0927 23L14.9668 16.0324L16.3968 14.6342L23.5227 21.6018L30.6486 14.6342L32.0786 16.0324L24.9527 23L32.0786 29.9675L30.6486 31.3658L23.5227 24.3982Z" fill="#CD3C14"/>
            </svg>
        </a>
      </div>
    </div>
    
  
       
   
   
  </div>
</div>

</body>
</main>
 
</section>
