
<div class="p-2 h-10 w-full  relative">


  <button class="flex items-center space-x-2 bg-black text-white font hover:text-orange-500 py-2 px-4 rounded-none absolute right-32"  (click)="newproject()">
    <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4">
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <line x1="5" y1="12" x2="19" y2="12"></line>
      </svg>
    </svg>
    <span>Add New Project</span>
  </button>
</div>



<div class="grid gap-4 grid-cols-4 bg-white   ">
  <div *ngFor="let Project of projectcardsData" class=" ">
    <div class="p-1 border border-black hover:shadow-lg bg-white m-4 ">
      <div class=" max-w-xs overflow-hidden bg-cover bg-no-repeat" data-te-ripple-init data-te-ripple-color="light">
        <img src="{{Project.imageURL}}" class="h-40 w-64" alt="...">
      </div>
      <div class="">
        <h5 class="text-xl text-[#000000] font-bold mb-2">{{Project.title}}</h5>
        <div class="flex mb-1">
          <p class="mr-1  font-semibold">Group name :</p>
          <p class="">{{Project.group}}</p>
        </div>
        <!-- <p class=" text-gray-600">{{Project.description}}</p>-->
        <div class="flex space-x-1">
         <!-- <a href="#" class=" mt-4 inline-block px-4 py-2 bg-black  text-white ">modify</a>-->
          <button class="p-1  rounded-md bg-black text-white hover:text-orange-500">modify</button>
          <button class="p-1  rounded-md bg-red-600">delete</button>

        </div>

      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
