<div class="grid grid-cols-4 h-screen w-full">

  <div class="bg-zinc-300 col-span-3">

    <!--    <app-carousel/>-->
    <router-outlet/>


  </div>


  <div class=" flex-col bg-black container overflow-y-auto scrollbar-hide h-screen ">
    <div class="sticky top-0 z-10 bg-black p-5 pb-0" id="header">
      <h2 class="font-bold text-2xl text-white">Reservation</h2>
      <ul class="flex">
        <li class="my-2 mr-4 py-1.5 px-4 bg-green-600 font-bold text-white">
          <a href="">Confirmed</a>
        </li>

        <li class="my-2 mx-4 py-1.5 px-4 bg-orange-400 font-thin opacity-50">
          <a href="">On Hold</a>
        </li>

        <li class="my-2 mx-4 py-1.5 px-4 bg-red-500 font-thin opacity-50">
          <a href="">Rejected</a>
        </li>
      </ul>
    </div>

    <div class="flex-grow overflow-auto p-6" id="reservation_content">


      <section>
        <div class="relative py-6 container bg-white px-9">
          <h3 class="font-bold text-2xl">ReservationTitle</h3>
          <p class="my-2 accent-zinc-400">Date 2023-09-02</p>

          <a class="p-1.5 bg-green-600 font-bold text-white absolute bottom-4 right-4">
            Confirmed
          </a>
        </div>
      </section>

      <section class="my-8">
        <div class="relative py-6  container bg-zinc-300 px-9 py-4">
          <h3 class="font-bold text-2xl">ReservationTitle</h3>
          <p class="my-2 accent-zinc-400">Date 2023-09-02</p>

          <a class="p-1.5 bg-green-600 font-bold text-white absolute bottom-4 right-4">
            Confirmed
          </a>
        </div>
      </section>


      <section class="my-8">
        <div class="relative py-6  container bg-zinc-300 px-9">
          <h3 class="font-bold text-2xl">ReservationTitle</h3>
          <p class="my-2 accent-zinc-400">Date 2023-09-02</p>

          <a class="p-1.5 bg-green-600 font-bold text-white absolute bottom-4 right-4">
            Confirmed
          </a>
        </div>
      </section>


      <section class="my-8">
        <div class="relative py-6  container bg-zinc-300 px-9 py-4">
          <h3 class="font-bold text-2xl">ReservationTitle</h3>
          <p class="my-2 accent-zinc-400">Date 2023-09-02</p>

          <a class="p-1.5 bg-green-600 font-bold text-white absolute bottom-4 right-4">
            Confirmed
          </a>
        </div>
      </section>

      <section class="my-8">
        <div class="relative py-6  container bg-zinc-300 px-9 py-4">
          <h3 class="font-bold text-2xl">ReservationTitle</h3>
          <p class="my-2 accent-zinc-400">Date 2023-09-02</p>

          <a class="p-1.5 bg-green-600 font-bold text-white absolute bottom-4 right-4">
            Confirmed
          </a>
        </div>
      </section>


      <section class="my-8">
        <div class="relative py-6  container bg-zinc-300 px-9 py-4">
          <h3 class="font-bold text-2xl">ReservationTitle</h3>
          <p class="my-2 accent-zinc-400">Date 2023-09-02</p>

          <a class="p-1.5 bg-green-600 font-bold text-white absolute bottom-4 right-4">
            Confirmed
          </a>
        </div>
      </section>

      <section class="my-8">
        <div class="relative py-6  container bg-zinc-300 px-9 py-4">
          <h3 class="font-bold text-2xl">ReservationTitle</h3>
          <p class="my-2 accent-zinc-400">Date 2023-09-02</p>

          <a class="p-1.5 bg-green-600 font-bold text-white absolute bottom-4 right-4">
            Confirmed
          </a>
        </div>
      </section>

      <section class="my-8">
        <div class="relative py-6  container bg-zinc-300 px-9 py-4">
          <h3 class="font-bold text-2xl">ReservationTitle</h3>
          <p class="my-2 accent-zinc-400">Date 2023-09-02</p>

          <a class="p-1.5 bg-green-600 font-bold text-white absolute bottom-4 right-4">
            Confirmed
          </a>
        </div>
      </section>

    </div>

    <div class="flex bottom-0 bg-black left-3 right-0 sticky bottom-0 p-3">
      <button class="font-bold py-4 px-12 bg-orange-400 m-auto justify-center"
              routerLink="new-reservation">
        Make New Reservation
      </button>
    </div>


  </div>


</div>
