<div class="w-full max-w-full px-3 shrink-0 md:w-8/12 md:flex-0">
 <div class="relative flex flex-row min-w-0 break-words bg-white border border-black">
   <!-- Moitié supérieure de la carte (image, titre, équipe, icône PDF) -->
   <div class="flex-none w-auto max-w-full px-2 p-2">
     <div class="relative inline-flex flex-col items-center justify-center text-white transition-all duration-200 ease-in-out text-base h-19 w-19">
       <!-- Image -->
       <img src="assets/image/project.png" alt="profile_image" class="w-full" />
       <!-- Titre du Projet -->
       <div class="p-2 dark:bg-white">
        <!-- Description -->
        <p class="text-gray-600">Description du projet...</p>
      </div>
     </div>
   </div>
   <!-- Moitié inférieure de la carte (description) -->
   
   <div class="flex-none w-auto max-w-full px-20 my-auto">
    <div class="flex-none w-auto max-w-full px-20 my-auto">
     <div class="p-2 dark:bg-white flex flex-col justify-between">
       <h5 class="text-xl text-black -mt-15">Taha Boukaa</h5>
       <div class="flex justify-between items-center">
         <p class="leading-normal font-bold dark:text-black text-sm">Réalisé par :</p>
         <p class="leading-normal  dark:text-black text-sm p-6">FabLab</p>
       </div>
       <a href="#">
       <div class="flex justify-end items-center">
       
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="41" viewBox="0 0 40 41" fill="none">
         <path d="M21.9526 5.125H15C11.8573 5.125 10.286 5.125 9.30965 6.12572C8.33334 7.12644 8.33334 8.73707 8.33334 11.9583V29.0417C8.33334 32.2629 8.33334 33.8736 9.30965 34.8743C10.286 35.875 11.8573 35.875 15 35.875H25C28.1427 35.875 29.714 35.875 30.6904 34.8743C31.6667 33.8736 31.6667 32.2629 31.6667 29.0417V15.0819C31.6667 14.3836 31.6667 14.0345 31.5398 13.7205C31.4129 13.4066 31.1721 13.1597 30.6904 12.6659L24.3096 6.12572C23.8279 5.63196 23.5871 5.38508 23.2808 5.25504C22.9745 5.125 22.6339 5.125 21.9526 5.125Z" stroke="#33363F" stroke-width="2"/>
         <path d="M15 22.2083L25 22.2083" stroke="#33363F" stroke-width="2" stroke-linecap="round"/>
         <path d="M15 29.0417L21.6667 29.0417" stroke="#33363F" stroke-width="2" stroke-linecap="round"/>
         <path d="M21.6667 5.125V11.9583C21.6667 13.569 21.6667 14.3743 22.1548 14.8746C22.643 15.375 23.4287 15.375 25 15.375H31.6667" stroke="#33363F" stroke-width="2"/>
        </svg>
        <p class="leading-normal dark:text-black text-sm pr-2">PDF</p>
      
       </div>
      </a>
    </div>
   </div>
      
    
   </div>
 </div>
</div>
