<nav class="bg-black shadow">
  <div class="container mx-auto w-full h-24 px-4">
    <div class="justify-between flex">
      <div class="flex ml-44 items-center">
        <img class="myw myh" src="assets/images/orange.png">
        <div class=" ml-2">
          <p class="text-white font-bold m0 text-xl">FabLab</p>
          <p class="text-white font-bold m0 text-xl">Solidaire</p>
        </div>
      </div>
      <div class="text-white space-x-2 pt-14 flex ">
        <div class="px-3 pt-1">
          <a id="productlink" href="#" class="text-white text-sm font-semibold hover:text-orange-500 ">Home</a>
        </div>
        <div class="bg-orange-500 pb-5 px-3 pt-1 flexflex justify-center items-center">
          <a href="#" class="text-black text-sm font-semibold hover:text-white ">My reservations</a>
        </div>
        <div class="px-3 pt-1">
          <a href="#" class="text-white text-sm font-semibold hover:text-orange-500  ">Projects</a>
        </div>
        <div class="px-3 pt-1">
          <a href="#" class="text-white text-sm font-semibold hover:text-orange-500 ">Equipments</a>
        </div>
      </div>
      <div class="mr-4 flex items-center">
        <div class="flex items-center">
          <div class="relative w-10 h-10 overflow-hidden bg-orange-100 rounded-full dark:bg-orange-600">
            <svg class="absolute w-12 h-12 text-orange-400 -left-1" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
              </path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-orange-500 w-full h-2"></div>
</nav>