<section id="content">

 <!-- main.component.html -->
 <main>

  <div className="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between">
   <div class="flex items-center justify-between p-6">
    <div class="text-black">
      <h1 class="text-3xl font-semibold mb-3">Dashboard</h1>
      <ul class="flex items-center gap-3 text-black">
        <li><a href="#" class="text-black">Users</a></li>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10 19L15 14L17 12L15 10L10 5L8 7L13 12L8 17L10 19Z" fill="black"/>
          </svg>
        <li><a href="#" class="active text-orange-500">Home</a></li>
      </ul>
    </div>
    <div class="flex  justify-end px-2 -mb-3 w-44 h-12 ">
      <button class="inline-flex px-5 py-1 text-black  bg-orange-600 border border-black ml-6 mb-3">
        
        Member
      </button>
      <button class="inline-flex px-5 py-1 text-black bg-white focus:bg-black border border-black mb-3">
        
        Admin
      </button>
     </div>
    <!--<div class="flex  justify-end px-2 -mb-3 w-44 h-12 ">
      <button class="inline-flex px-5 py-1 text-black bg-white focus:bg-black border border-black mb-3">
        
        Request
      </button>
      <button class="inline-flex px-7 py-1 text-black  bg-orange-600 border border-black ml-3 mb-4"><i class=""> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M19 11H13V5H11V11H5V13H11V19H13V13H19V11Z" fill="black"/>
        </svg> </i>
        Add 
      </button>
      
     </div>-->
   </div>
   </div>



    
 </main>
 
 </section>












 <!--
<div className="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between">
 <div class="flex items-center justify-between p-6">
  <div class="text-black">
    <h1 class="text-3xl font-semibold mb-3">Dashboard</h1>
    <ul class="flex items-center gap-3 text-black">
      <li><a href="#" class="text-black">Failures</a></li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li><a href="#" class="active text-orange-500">Home</a></li>
    </ul>
  </div>
  <div class="flex  justify-end px-3 -mb-3">
   <button class="inline-flex px-5 py-3 text-black focus:bg-black border border-black mb-3">
     
     Signals
   </button>
   <button class="inline-flex px-5 py-3 text-black focus:bg-black bg-orange-600  ml-6 mb-3">
     
     Confirm
   </button>
  </div>
 </div>


  -->
