<div class="container bg-[#EEEEEE] w-full  h-auto pb-24 pt-10 px-24">

  <!-- Breadcrump -->

  <nav class="flex items-center">
    <ol class="inline-flex items-center space-x-1 ">
      <li class="inline-flex items-center">
        <a href="#" class="inline-flex items-center  font-bold text-black hover:underline">
          My reservations
        </a>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="w-3 h-3 text-gray-400 mx-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 9 4-4-4-4" />
          </svg>
          <span class="ml-1  font-bold text-[#FF7900] ">New Reservation</span>
        </div>
      </li>
    </ol>
  </nav>

  <!-- Stepper -->
  <div class="mt-8">
    <div
      class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-gray-600">
      <ul data-te-stepper-init class="relative z-10 flex  justify-between text-sm font-medium text-black">
        <li *ngFor="let step of steps; let i = index" class="flex bg-[#EEEEEE] items-center gap-2  p-2">
          <span [ngClass]="getStepClass(i)"
            class="h-6 w-6 rounded-full text-white flex justify-center items-center text-center text-[10px]/6 font-bold">
            {{ i + 1 }}
          </span>
          <span class="hidden sm:block">{{ step.label }}</span>
        </li>
      </ul>
    </div>
  </div>


  <!-- Display current step content -->
  <div class="mt-4  justify-center ">

    <!-- First Step description  -->

    <div *ngIf="currentStep === 0" class="flex justify-center">
      <p class="text-gray-700 italic text-sm mb-4">
        Please fill the desired period you want to complete your project. Please note that you should deliver all the
        equipment before 18:00 pm of the end date.
      </p>
    </div>

    <!-- Second Step description  -->

    <div class="w-full flex justify-center" *ngIf="currentStep === 1">
      <p class="text-gray-700 italic text-sm mb-4">
        Choose the equipments you will use, make sure to select all the ones needed.
      </p>
    </div>

    <!-- Third Step description  -->

    <div class="w-full flex justify-center" *ngIf="currentStep === 2">
      <p class="text-gray-700 italic text-sm mb-4">
        Please precise the quantity needed for every equipment
      </p>
    </div>


    <!-- Fourth Step description  -->

    <div class="w-full flex justify-center" *ngIf="currentStep === 2">
      <p class="text-gray-700 italic text-sm mb-4">
        Please take a moment to review your provided information, and confirm your details before final submission.
      </p>
    </div>




    <div class="flex justify-center">

      <!-- First Step -->

      <div *ngIf="currentStep === 0" class="p-4 md:w-1/2 bg-white rounded-lg shadow">
        <h2 class="text-xl pb-6 text-[#FF7900] underline font-semibold">{{ steps[currentStep].label }}</h2>
        <div>
          <form [formGroup]="myForm" class="w-full max-w-lg">
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                  First Name
                </label>
                <input [(ngModel)]="Firstname" formControlName="firstName"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-first-name" type="text" placeholder="Jane">

                <div *ngIf="myForm?.get('firstName')?.hasError('required')" class="text-red-500 text-xs mt-1">First Name
                  is required</div>
              </div>
              <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                  Last Name
                </label>
                <input [(ngModel)]="Lastname" formControlName="LastName"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-last-name" type="text" placeholder="Doe">
                <div *ngIf="myForm?.get('LastName')?.hasError('required')" class="text-red-500 text-xs mt-1">Last Name
                  is required</div>
              </div>
            </div>
            <div date-rangepicker class="flex flex-wrap items-center -mx-3 mb-6">
              <div class="w-full md:w-1/2 px-3 ">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                  Start Date
                </label>
                <div class="relative max-w-sm">
                  <input datepicker datepicker-autohide type="date" formControlName="startDate"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-last-name" placeholder="Select date">
                  <div *ngIf="myForm?.get('startDate')?.hasError('required')" class="text-red-500 text-xs mt-1">Start
                    Date is required</div>
                </div>
              </div>
              <div class="w-full md:w-1/2 px-3 ">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                  End Date
                </label>
                <div class="relative max-w-sm">
                  <input datepicker datepicker-autohide type="date" formControlName="endDate"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-last-name" placeholder="Select date">
                  <div *ngIf="myForm?.get('endDate')?.hasError('required')" class="text-red-500 text-xs mt-1">Start Date
                    is required</div>
                </div>
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full  px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                  Description
                </label>
                <textarea formControlName="description"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="exampleFormControlTextarea1" rows="4" placeholder="Description"></textarea>
                <div *ngIf="myForm?.get('description')?.hasError('required')" class="text-red-500 text-xs mt-1">Start
                  Date is required</div>
              </div>
            </div>
          </form>
        </div>
      </div>


      <!-- Second Step -->

      <div *ngIf="currentStep === 1" class="p-4 mx-8 w-full bg-white rounded-lg shadow">
        <h2 class="text-xl pb-6 text-[#FF7900] underline font-semibold">{{ steps[currentStep].label }}</h2>
        <app-searchbar class="w-full flex justify-center"></app-searchbar>

        <!-- Equipment list -->

        <ul class="grid w-full gap-6 md:grid-cols-3 ">
          <li class="" *ngFor="let Equipment of equipmentcardsData | slice: getStartIndex() : getEndIndex()">
            <input type="checkbox" id="{{Equipment.title}}" value="" class="hidden peer" required="">
            <label for="{{Equipment.title}}"
              class=" divide-y inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-[#FF7900] hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
              <div class="block space-y-4  w-full divide-y-2">
                <div class="bg-purple-300 w-full h-full">
                  <img src="{{Equipment.imageUrl}}" class="md:h-48 lg:h-32 xl:h-48 w-full object-cover">
                </div>
                <div class="w-full flex justify-center  text-lg font-semibold">
                  <span>{{Equipment.title}}</span>
                </div>
              </div>
            </label>
        </ul>

        <div class="w-full h-0.5 bg-gray-200 my-5"></div>

        <!-- Pagination -->

        <div class="w-full pr-4 justify-end flex">
          <nav class=" " aria-label="Page navigation example ">
            <ul class=" list-style-none flex">
              <li>
                <button *ngIf="currentPage > 1" (click)="onPageChange(currentPage - 1)"
                  class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white">
                  Previous
                </button>
              </li>
              <li *ngFor="let page of getPageNumbers()">
                <button (click)="onPageChange(page)" [class.aria-current]="currentPage === page"
                  class="relative block rounded bg-transparent px-3 py-1.5 text-sm" [ngClass]="{
                    'text-neutral-600': currentPage !== page,
                    'text-primary-700 font-medium': currentPage === page,
                    'dark:text-white rounded-full hover:bg-[#FFF6B6]': currentPage === page
                  }">
                  {{ page }}
                  <span *ngIf="currentPage === page"
                    class="absolute -m-px h-px w-px overflow-hidden whitespace-nowrap border-0 p-0 [clip:rect(0,0,0,0)]">(current)</span>
                </button>
              </li>
              <li>
                <button *ngIf="currentPage < getTotalPages()" (click)="onPageChange(currentPage + 1)"
                  class="relative block  bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white">
                  Next
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Third Step -->

      <div *ngIf="currentStep === 2" class="p-4 mx-8 w-full bg-white rounded-lg shadow">
        <h2 class="text-xl pb-6 text-[#FF7900] underline font-semibold">{{ steps[currentStep].label }}</h2>

        <ul class="grid w-full gap-6 md:grid-cols-1">

          <li class="px-4  font-semibold text-gray-400 flex justify-between">
            <div>Equipments</div>
            <div>Quantity</div>
          </li>

          <li>
            <div
              class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200  dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
              <div class=" items-center w-full justify-between flex">
                <div class="w-full text-lg font-semibold">React Js</div>
                <div>
                  <!-- <label for="Quantity"> Quantity </label> -->

                  <div>
                    <div class="flex items-center border border-gray-200 ">
                      <button type="button" class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
                        (click)="moins()">
                        &minus;
                      </button>
                      <input type="number" id="Quantity" value="{{ count }}"
                        class="h-10 w-16 border-transparent text-center [-moz-appearance:_textfield] sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none" />
                      <button type="button" class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
                        (click)="plus()">
                        &plus;
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div
              class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200  dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
              <div class=" items-center w-full justify-between flex">
                <div class="w-full text-lg font-semibold">React Js</div>
                <div>
                  <!-- <label for="Quantity"> Quantity </label> -->

                  <div>
                    <div class="flex items-center border border-gray-200 ">
                      <button type="button" class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
                        (click)="moins()">
                        &minus;
                      </button>
                      <input type="number" id="Quantity" value="{{ count }}"
                        class="h-10 w-16 border-transparent text-center [-moz-appearance:_textfield] sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none" />
                      <button type="button" class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
                        (click)="plus()">
                        &plus;
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div
              class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200  dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
              <div class=" items-center w-full justify-between flex">
                <div class="w-full text-lg font-semibold">React Js</div>
                <div>
                  <!-- <label for="Quantity"> Quantity </label> -->

                  <div>
                    <div class="flex items-center border border-gray-200 ">
                      <button type="button" class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
                        (click)="moins()">
                        &minus;
                      </button>
                      <input type="number" id="Quantity" value="{{ count }}"
                        class="h-10 w-16 border-transparent text-center [-moz-appearance:_textfield] sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none" />
                      <button type="button" class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
                        (click)="plus()">
                        &plus;
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div
              class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200  dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
              <div class=" items-center w-full justify-between flex">
                <div class="w-full text-lg font-semibold">React Js</div>
                <div>
                  <!-- <label for="Quantity"> Quantity </label> -->

                  <div>
                    <div class="flex items-center border border-gray-200 ">
                      <button type="button" class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
                        (click)="moins()">
                        &minus;
                      </button>
                      <input type="number" id="Quantity" value="{{ count }}"
                        class="h-10 w-16 border-transparent text-center [-moz-appearance:_textfield] sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none" />
                      <button type="button" class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
                        (click)="plus()">
                        &plus;
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>


      </div>


      <!-- Fourth  Step -->

      <div *ngIf="currentStep === 3" class="p-4 mx-8 md:w-1/2 bg-white rounded-lg shadow">
        <h2 class="text-xl pb-6 text-[#FF7900] underline font-semibold">{{ steps[currentStep].label }}</h2>
        <div class="flex justify-centers">
          <p class="font-light text-gray-700 mb-2">Fisrt Name :</p>
          <div *ngIf="Firstname" class="ml-2">
            <p class="text-gray-700 font-bold">{{ Firstname }}</p>
          </div>
        </div>
        <div class="flex items-center justify-centers">
          <p class="font-light text-gray-700 ml-2">Last Name :</p>
          <div *ngIf="Lastname" >
            <p class="text-gray-700 font-bold">{{ Lastname }}</p>
          </div>
        </div>
        <div class="flex items-center">
          <p class="font-light text-gray-700 mb-2">Your desired period :</p>
          <div *ngIf="" class="mt-2">
            <p class="text-gray-700 text-sm"></p>
          </div>
        </div>
        <div class="flex items-center">
          <p class="font-light text-gray-700 mb-2">Description :</p>
          <div *ngIf="" class="mt-2">
            <p class="text-gray-700 text-sm"></p>
          </div>
        </div>
        <div >
          <p class="font-light text-gray-700 mb-2">Choosen equipment :</p>
          <ul class="ml-4 max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
            <li class="flex">
              <div class="text-green-400 font-light">x3</div>
              <br>
              <div>
                <p class="ml-1">Carte arduino</p>
              </div>
            </li>
            <li class="flex">
              <div class="text-green-400 font-light">x3</div>
              <br>
              <div>
                <p class="ml-1">Carte arduino</p>
              </div>
            </li>
            <li class="flex">
              <div class="flex">
                <div class="text-green-400 font-light">x3</div>
                <p class="ml-1">Carte arduino</p>
              </div>

            </li>
          </ul>
        </div>





      </div>

    </div>

  </div>

  <!-- Navigation buttons -->
  <div class="mt-4 space-x-3">
    <button *ngIf="currentStep > 0" (click)="prevStep()"
      class="bg-[#FF7900] hover:bg-[#F16E00] text-white px-4 py-2 ">Previous</button>
    <button *ngIf="currentStep < steps.length - 1" (click)="nextStep()"
      class="bg-[#FF7900] absolute right-14 hover:bg-[#F16E00] text-white px-4 py-2 ">Next</button>
    <button *ngIf="currentStep == steps.length -1" (click)="confirm()"
      class="bg-[#FF7900] absolute right-14 hover:bg-[#F16E00] text-white px-4 py-2 ">Confirm</button>
  </div>

  <!-- Pop-Up validation -->
  <div *ngIf="showValidationPopup"
    class="fixed top-0 left-0 w-full h-full flex items-center justify-center backdrop-blur-md">
    <div class="bg-white p-4 rounded-lg shadow-md">
      <h3 class="text-lg font-semibold">Validation Message</h3>
      <p>Your reservation is confirmed.</p>
      <button (click)="showValidationPopup = false"
        class="mt-4 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg">Close</button>
    </div>
  </div>

</div>

<!-- </div> -->