<section id="content">

 <!-- main.component.html -->
 <main>

 
   <div class="flex justify-start">
    <button class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
      <span class="text-black bg-white focus:bg-orange-500 border border-black px-4 text-xs py-2 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-black mx-6">Resolved</span>
    </button>
    <button class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
      <span class="text-black bg-white focus:bg-orange-500 border border-black px-4 text-xs py-2 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-black mx-6">Non Resolved</span>
    </button>
  </div>

 
  
    
 </main>
 
 </section>












 <!--
<div className="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between">
 <div class="flex items-center justify-between p-6">
  <div class="text-black">
    <h1 class="text-3xl font-semibold mb-3">Dashboard</h1>
    <ul class="flex items-center gap-3 text-black">
      <li><a href="#" class="text-black">Failures</a></li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li><a href="#" class="active text-orange-500">Home</a></li>
    </ul>
  </div>
  <div class="flex  justify-end px-3 -mb-3">
   <button class="inline-flex px-5 py-3 text-black focus:bg-black border border-black mb-3">
     
     Signals
   </button>
   <button class="inline-flex px-5 py-3 text-black focus:bg-black bg-orange-600  ml-6 mb-3">
     
     Confirm
   </button>
  </div>
 </div>


  -->