<div class="max-w-3xl mx-auto p-6">
 <div class="flex">
   <!-- Titre, nom à gauche de l'image -->
   <div class="flex flex-col">
     <div class="flex justify-between items-center">
       <!-- Titre -->
       <h5 class="leading-normal text-2xl dark:text-black items-center font-bold xt-sm p-6 ml-20">Taha Boukaa</h5>
     </div>

     <p class="leading-normal text-xl dark:text-black items-center  xt-sm  ml-20">Group name</p>
     <p class="leading-normal text-xl dark:text-black items-center  xt-sm ml-20">date : ../../....</p>
     <!-- Icône PDF -->

   </div>

   <!-- Image à droite -->
   <div class="flex-none w-auto max-w-full px-2 p-10 ml-auto">
     <div class="relative inline-flex flex-col justify-center text-white transition-all duration-200 ease-in-out text-base h-19 w-19">
       <!-- Image -->
       <img src="assets/images/project.png" alt="profile_image" class="w-full" />
     </div>
   </div>
 </div>



 <!-- Description en bas -->
 <h5 class="text-2xl text-black font-bold mb-2">Description</h5>
 <div class="text-sm font-medium text-center text-black border-b-8 border-black dark:text-black dark:border-orange-500  "></div>

 <div class="p-2 dark:bg-white">

   <p class="dark:text-black">The global population is exponentially growing. Considering the fineness of agricultural lands, finding alternative sustainable ways to produce food is imperative.</p>
 
   <td class="p-2 flex justify-end leading-normal text-center align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
    <span class="bg-black from-emerald-500 to-teal-400 px-4 text-xs  py-2 inline-block whitespace-nowrap text-center align-baseline uppercase leading-none text-white ">Download</span>
  </td>
 
 
  </div>


 <!-- Autres contenus ici -->
</div>
