
<div class="p-2 px-40 bg-[#EEEEEE] space-x-96 flex sm:ml-64  ">

  <form class="flex items-center w-[400px] ">
    <div class="relative ml-14 w-full ">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <svg aria-hidden="true" class="w-4 h-4" fill="none" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" stroke="#999999" stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"/>
        </svg>
      </div>
      <input
        class="bg-black-50 border border-black text-[#FF7900] text-sm  focus:ring-[#FF7900] focus:border-[#FF7900] block w-full pl-10 p-1.5  "
        id="simple-search"
        placeholder="Search ..."
        required type="text">
    </div>
  </form>
</div>
<app-projects-navbar ></app-projects-navbar>

